<h2>Lista de Categorias</h2>

<table>
  <tr>
    <th>Nome</th>
    <th>Imagem</th>
    <th>Ação</th>
  </tr>
  <tr *ngFor="let item of dataSource">
    <td>{{item.nome}}</td>
    <td>{{item.imagemUrl}}</td>
    <td> <button mat-flat-button color="accent" routerLink="/categoria-detalhe/{{item.categoriaId}}" selected>Detalhe</button></td>
  </tr>
  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> <button mat-flat-button color="accent" routerLink="/categoria-detalhe/{{element.categoriaId}}" selected>Detalhe</button></td>
  </ng-container>
</table>
